RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.dendomdom. [NC]
RewriteRule ^(.*)$ http://dendomdom.com/$1 [L,R=301]
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]